@import "../col.scss";

.cable {
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	position: absolute;
	stroke-width: 10px;
	stroke-linecap: round;
	pointer-events: none;
	overflow: visible;

	path {
		fill: transparent;
		stroke: $fg;
	}
}
