@import "../main.scss";
@import "../layout.scss";
@import "../col.scss";

.fader {
	width: 0;

	.groove {
		height: 100%;
		border: $stroke solid $inert;
	}

	.thumb {
		@extend .raised;
		fill: $bg;
		cursor: pointer;
	}

	.inc {
		position: absolute;
		overflow: visible;
		z-index: -1;
	}
}
