@import "col.scss";

$rad: 3px;
$diam: calc(#{$rad} * 2);

.light {
	width: $diam;
	height: $diam;

	circle {
		cx: $rad;
		cy: $rad;
		r: $rad;
	}

	&.off {
		circle {
			fill: map-get($light, "inert");
		}
	}

	&.on {
		circle {
			fill: map-get($light, "active");
		}
	}
}
