@import "../col.scss";

@font-face  {
	font-family: Terminus;
	src: url("../Terminus.ttf");
}

.buff {
	background: map-get($light, "active");
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	.line {
		font-family: Terminus;
		color: map-get($light, "inert");
	}
}
