$js: #f0db4f;

$margin: 6px;
$pad: 6px;
$bevel: 4px;

$bg: #333;
$fg: grey;

.op {
	display: inline-flex;
	flex-direction: column;
	padding: $pad;
	background: $bg;
	border-radius: $bevel;

	> * {
		margin: $margin;
	}

	.body {
		div {
			> * {
				justify-content: center;
				align-items: center;
			}
		}
	}

	.mark {
		text-align: center;
	}
}

.body {
	display: flex;
	flex-direction: column;

	> * {
		margin: $margin;
	}
}

.knob {
	overflow: visible;
	cursor: pointer;

	line {
		stroke-linecap: round;
	}
}

.raised {
	-webkit-filter: drop-shadow(0px 0px 1px #000);
}

.label {
	font-family: Arial;
	background: grey;
	color: $bg;
	width: 100%;
}

.mark {
	font-family: Arial;
	color: $fg;
}
