$js: #f0db4f;

$margin: 6px;
$pad: 6px;
$bevel: 4px;

$bg: #333;
$fg: grey;

$inert: #111;

.op {
	display: inline-flex;
	flex-direction: column;
	padding: $pad;
	background: $bg;
	border-radius: $bevel;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	> * {
		margin: $margin;
	}

	.body {
		div {
			> * {
				justify-content: center;
				align-items: center;
			}
		}
	}

	.label,
	.mark {
		text-align: center;
	}
}

.body {
	display: flex;
	flex-direction: column;

	> * {
		margin: $margin;
	}
}

.knob {
	overflow: visible;
	cursor: pointer;

	line {
		stroke-linecap: round;
	}
}

.module {
	display: inline-block;
	padding: $pad;
	background: $bg;
	border-radius: $bevel;
}

.sys {
	display: inline-flex;
	border-radius: $bevel;
	background: $bg;
	padding: $pad;

	.module {
		margin: $margin;
		background: $inert;
	}
}

.raised {
	-webkit-filter: drop-shadow(0px 0px 1px #000);
}

.label {
	font-family: Arial;
	background: grey;
	color: $bg;
	width: 100%;
}

.mark {
	font-family: Arial;
	color: $fg;
}
