.op {
	display: inline-flex;
	flex-direction: column;
	padding: 6px;
	background: #333;
	border-radius: 4px;
}

.op > * {
	margin: 6px;
}

.op .body div > * {
	justify-content: center;
	align-items: center;
}

.op .mark {
	text-align: center;
}

.label {
	font-family: Arial;
	background: grey;
	color: #333;
	width: 100%;
}

.mark {
	font-family: Arial;
	color: grey;
}

.knob {
	overflow: visible;
}

.raised {
	-webkit-filter: drop-shadow(0px 0px 1px #000);
}

.knob line {
	stroke-linecap: round;
}

.body {
	display: flex;
	flex-direction: column;
}

.body > * {
	margin: 6px;
}
