.op {
	display: inline-flex;
	flex-direction: column;
	padding: 6px;
	background: #333;
	border-radius: 4px;
}

.op > * {
	margin: 6px;
}

.label {
	font-family: Arial;
	background: grey;
	color: #333;
	width: 100%;
}

.knob {
	overflow: visible;
}

.knob circle {
	-webkit-filter: drop-shadow(0px 0px 1px #000);
}

.knob line {
	stroke-linecap: round;
}
