@import 'layout.scss';
@import 'col.scss';

$portRad: calc(10px);

.body {
	display: flex;
	flex-direction: column;

	> * {
		margin: $margin;
	}
}

.knob {
	overflow: visible;
	cursor: pointer;

	line {
		stroke-linecap: round;
	}
}

.module {
	display: inline-block;
	padding: $pad;
	background: $bg;
	border-radius: $bevel;

	.label,
	.mark {
		text-align: center;
	}
}

.sys {
	display: inline-flex;
	border-radius: $bevel;
	background: $bg;
	padding: $pad;

	.module {
		margin: $margin;
		background: $inert;
	}
}

.raised {
	-webkit-filter: drop-shadow(0px 0px 1px #000);
}

.label {
	font-family: Arial;
	background: grey;
	color: $bg;
	width: 100%;
}

.mark {
	font-family: Arial;
	color: $fg;
}

.label,
.mark {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.port {
	width: calc(#{$portRad} * 2);
	height: calc(#{$portRad} * 2);
	fill: $bg;
	-webkit-filter: drop-shadow(0px 0px 1px #000);
	cursor: pointer;

	circle {
		r: $portRad;
		cx: $portRad;
		cy: $portRad;
		fill: $inert;
	}
}

.io {
	display: flex;
	justify-content: center;
}
