@import "layout.scss";
@import "col.scss";

.btn {
	border-radius: $bevel;
	fill: $bg;
	-webkit-filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.5));
	cursor: pointer;

	text {
		font-weight: bold;
		alignment-baseline: hanging;
	}

	svg {
		path {
			fill: $fg;
		}
	}
}
