@import 'layout.scss';
@import 'col.scss';

.btn {
	border-radius: $bevel;
	background: $bg;
	cursor: pointer;

	&.s {
		width: 50px;
		height: 50px;
	}

	&.m {
		width: 80px;
		height: 80px;
	}

	&.l {
		width: 120px;
		height: 120px;
	}
}
