@import "col.scss";

.cable {
	position: absolute;
	left: 0;
	top: 0;
	overflow: visible;
	stroke-width: 10px;
	stroke-linecap: round;
	pointer-events: none;

	path {
		fill: transparent;
		stroke: $fg;
	}
}
