@import "col.scss";

.cable {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: visible;
	stroke-width: 10px;
	stroke-linecap: round;
	pointer-events: none;

	path {
		fill: red;
		stroke: $fg;
	}
}
