@import "main.scss";
@import "layout.scss";

$ht: 100px;

.fader {
	width: 0;

	.groove {
		height: 100%;
		border: $stroke solid $inert;
	}

	.inc {
		position: absolute;
		margin-top: -$ht;
		height: calc(#{$ht} + #{$margin});
		overflow: visible;
		z-index: -1;
	}
}
