@import 'main.scss';
@import 'col.scss';

.knob {
	overflow: visible;
	cursor: pointer;

	circle,
	path
	{
		fill: $bg;
		-webkit-filter: drop-shadow(0px 0px 1px #000);
	}

	line {
		stroke-width: 3;
		stroke-linecap: round;
		stroke: $fg;
	}
}
