@import 'main.scss';
@import 'col.scss';

.knob {
	overflow: visible;
	cursor: pointer;

	&.marked {
		padding-left: calc(40px + (#{$margin}));
		padding-right: calc(40px + (#{$margin}));
	}

	circle,
	polygon
	{
		-webkit-filter: drop-shadow(0px 0px 1px #000);
		fill: $bg;
	}

	.mark {
		alignment-baseline: middle;
	}
}
