@import "main.scss";
@import "col.scss";

.knob {
	overflow: visible;
	cursor: pointer;

	circle,
	path
	{
		-webkit-filter: drop-shadow(0px 0px 1px #000);
		fill: $bg;
	}

	.mark {
		alignment-baseline: hanging;
	}
}
