@import "main.scss";
@import "layout.scss";
@import "col.scss";

.launch {
	@extend .cont;

	.head {
		padding: $margin;

		> * {
			margin: $margin;
		}
	}

	td {
		> * {
			margin: $margin;
		}
	}
}
