@import 'main.scss';
@import 'layout.scss';
@import 'col.scss';

.launch {
	@extend .cont;
	display: inline-block;

	.head {
		padding: $margin;

		> * {
			margin: $margin;
		}
	}

	td {
		> * {
			margin: $margin;
		}
	}
}
