@import "col.scss";

$sz: 6px;

.light {
	width: $sz;
	height: $sz;

	circle {
		cx: calc(#{$sz} / 2);
		cy: calc(#{$sz} / 2);
		r: calc(#{$sz} / 2);
	}

	&.off {
		circle {
			fill: map-get($light, "inert");
		}
	}

	&.on {
		circle {
			fill: map-get($light, "active");
		}
	}
}
