@import 'col.scss';

$sz: 6px;

.light {
	width: $sz;
	height: $sz;
	border-radius: calc(#{$sz} / 2);

	&.off {
		background: map-get($light, 'inert');
	}

	&.on {
		background: map-get($light, 'active');
	}
}
