@import "layout.scss";
@import "col.scss";

@font-face  {
	font-family: Neutra Text Bold;
	src: url("Neutra-Text-Bold.otf");
}

$nutRad: 22px;
$portRad: 10px;

h1,
h2,
h3,
h4,
h5,
h6, {
	font-family: Neutra Text Bold;
	color: $fg;
}

table {
	border-radius: $bevel;
	border-spacing: calc(#{$pad} / 2);
	background: $fg;
	color: $bg;

	td {
		padding: $pad;
		background: $bg;
		color: $fg;
	}
}

hr {
	height: $stroke;
	background-color: $fg;
	border: none;
}

textarea {
	background: map-get($light, "active");
	color: map-get($light, "inert");
	border: 0;
	resize: none;

	&:focus {
		outline: none;
	}
}

#app {
	> * {
		float: left;
		margin: $margin;
	}
}

.head,
.body {
	> * {
		margin: $margin;
	}
}

.body {
	display: flex;
	flex-direction: column;
}

.cont {
	display: flex;
	padding: $pad;
	border-radius: $bevel;
	background: $bg;

	.raised {
		-webkit-filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 1.0));
	}
}

.group {
	border: $stroke solid $fg;
	border-radius: $bevel;
}

.label {
	background: $fg;
	color: $bg;
}

div.mark {
	color: $fg;
}

text.mark,
path.mark {
	fill: $fg;
}

.label,
.mark {
	font-family: Arial;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.tick {
	stroke-width: $stroke;
	stroke-linecap: round;
	stroke: $fg;
}

.port {
	width: calc((#{$nutRad} + #{$portRad}) * 2);
	height: calc((#{$nutRad} + #{$portRad}) * 2);
	fill: $bg;
	overflow: visible;

	text {
		text-anchor: middle;
	}

	polygon {
		@extend .raised;
		transform: translate(calc(#{$nutRad} + #{$portRad}), calc(#{$nutRad} + #{$portRad}));
	}

	circle {
		r: $portRad;
		cx: calc(#{$nutRad} + #{$portRad});
		cy: calc(#{$nutRad} + #{$portRad});
		fill: $inert;
		cursor: pointer;
	}
}

.io {
	display: flex;
	justify-content: space-evenly;
	padding-top: calc((#{$pad} * 2) + 12px);
}

.ctrl {
	.body {
		display: flex;
		align-items: center;
	}
}

.sys {
	@extend .cont;

	.module {
		margin: $margin;
		background: $inert;

		.label,
		.mark {
			text-align: center;
		}
	}

	.row {
		display: flex;
		flex-direction: row;

		> * {
			flex-grow: 1;
		}
	}
}

.dragField {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 1000;
}
