@import "layout.scss";
@import "col.scss";

$portRad: 10px;
$hexRad: 26px;

$stroke: 3px;

#app {
	display: flex;

	> * {
		margin: $margin;
	}
}

.body {
	display: flex;
	flex-direction: column;

	> * {
		margin: $margin;
	}
}

.cont {
	padding: $pad;
	border-radius: $bevel;
	background: $bg;

	.raised {
		-webkit-filter: drop-shadow(0px 0px 1px #000);
	}
}

.group {
	border: $stroke solid $fg;
	border-radius: $bevel;
}

.label {
	font-family: Arial;
	background: $fg;
	color: $bg;
	width: 100%;
}

.mark {
	font-family: Arial;
	color: $fg;
}

text.mark {
	fill: $fg;
}

.label,
.mark {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.port {
	width: calc((#{$hexRad} + #{$portRad}) * 2);
	height: calc((#{$hexRad} + #{$portRad}) * 2);
	fill: $bg;
	overflow: visible;
	cursor: pointer;

	text {
		text-anchor: middle;
	}

	path {
		@extend .raised;
	}

	circle {
		r: $portRad;
		cx: calc(#{$hexRad} + #{$portRad});
		cy: calc(#{$hexRad} + #{$portRad});
		fill: $inert;
	}
}

.io {
	display: flex;
	justify-content: space-evenly;
	padding-top: calc((#{$pad} * 2) + 12px);
}

.ctrl {
	.body {
		display: flex;
		align-items: center;
	}
}
