@import 'layout.scss';
@import 'col.scss';

$portRad: calc(10px);

$stroke: 3px;

#app {
	display: flex;

	> * {
		margin: $margin;
	}
}

.body {
	display: flex;
	flex-direction: column;

	> * {
		margin: $margin;
	}
}

.cont {
	padding: $pad;
	border-radius: $bevel;
	background: $bg;

	.raised {
		-webkit-filter: drop-shadow(0px 0px 1px #000);
	}
}

.group {
	border: $stroke solid $fg;
	border-radius: $bevel;
}

.label {
	font-family: Arial;
	background: $fg;
	color: $bg;
	width: 100%;
}

.mark {
	font-family: Arial;
	color: $fg;
}

text.mark {
	text-anchor: middle;
	alignment-baseline: middle;
	fill: $fg;
}

.label,
.mark {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.port {
	width: calc(#{$portRad} * 2);
	height: calc(#{$portRad} * 2);
	fill: $bg;
	-webkit-filter: drop-shadow(0px 0px 1px #000);
	cursor: pointer;

	circle {
		r: $portRad;
		cx: $portRad;
		cy: $portRad;
		fill: $inert;
	}
}

.io {
	justify-content: center;
	display: flex;
}
