@import "layout.scss";
@import "col.scss";

@font-face  {
	font-family: Neutra Text Bold;
	src: url("Neutra-Text-Bold.otf");
}

$portRad: 10px;
$hexRad: 26px;

h1,
h2,
h3,
h4,
h5,
h6, {
	font-family: Neutra Text Bold;
	color: $fg;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

table {
	padding: $pad;
	background: $fg;
	color: $bg;

	td {
		padding: $pad;
		background: $bg;
		color: $fg;
	}
}

hr {
	height: $stroke;
	background-color: $fg;
	border: none;
	border-radius: calc(#{$stroke} / 2);
}

#app {
	> * {
		display: inline-block;
		float: left;
		margin: $margin;
	}
}

.body {
	display: flex;
	flex-direction: column;
}

.head,
.body {
	> * {
		margin: $margin;
	}
}

.cont {
	padding: $pad;
	border-radius: $bevel;
	background: $bg;

	.raised {
		-webkit-filter: drop-shadow(0px 0px 1px #000);
	}
}

.group {
	border: $stroke solid $fg;
	border-radius: $bevel;
}

.label {
	background: $fg;
	color: $bg;
}

.mark {
	color: $fg;
}

text.mark {
	fill: $fg;
}

.label,
.mark {
	font-family: Arial;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.port {
	width: calc((#{$hexRad} + #{$portRad}) * 2);
	height: calc((#{$hexRad} + #{$portRad}) * 2);
	fill: $bg;
	overflow: visible;

	text {
		text-anchor: middle;
	}

	polygon {
		@extend .raised;

		transform: translate(36px, 36px);
	}

	circle {
		r: $portRad;
		cx: calc(#{$hexRad} + #{$portRad});
		cy: calc(#{$hexRad} + #{$portRad});
		fill: $inert;
		cursor: pointer;
	}
}

.io {
	display: flex;
	justify-content: space-evenly;
	padding-top: calc((#{$pad} * 2) + 12px);
}

.ctrl {
	.body {
		display: flex;
		align-items: center;
	}
}

.sys {
	@extend .cont;
	display: inline-flex;

	.module {
		margin: $margin;
		background: $inert;
	}

	.row {
		display: flex;
		flex-direction: row;

		> * {
			flex-grow: 1;
		}
	}

	.label,
	.mark {
		text-align: center;
	}
}

.tick {
	stroke-width: $stroke;
	stroke-linecap: round;
	stroke: $fg;
}

.dragField {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 1000;
}
