@import 'main.scss';

.module {
	@extend .cont;

	display: inline-block;

	> * {
		margin: $margin;
	}

	.label,
	.mark {
		text-align: center;
	}

	.param {
		display: flex;
		flex-direction: row;
		padding-top: calc(12px + #{$margin});
	}
}
