@import 'main.scss';

.module {
	@extend .cont;
	display: inline-block;

	> * {
		margin: $margin;
	}

	.label,
	.mark {
		text-align: center;
	}
}

.sys {
	@extend .cont;

	display: inline-flex;

	.module {
		margin: $margin;
		background: $inert;
	}
}
