@import "main.scss";

.module {
	padding: $pad;
	display: inline-flex;
	flex-direction: column;

	> * {
		margin: $margin;
	}

	.label,
	.mark {
		text-align: center;
	}

	.param {
		display: flex;
		flex-direction: row;
		padding-top: calc(12px + #{$margin});
	}

	.body {
		flex-grow: 1;
	}

	.io {
		margin-top: auto;
	}
}
