@import "main.scss";
@import "Key.scss";

.board {
	@extend .cont;

	display: flex;

	.white,
	.black {
		display: flex;
		justify-content: center;
	}

	> div {
		> .black {
			position: absolute;
		}
	}
}
