@import "col.scss";

@font-face  {
	font-family: Terminus;
	src: url("Terminus.ttf");
}

.buff {
	background: map-get($light, "active");

	.line {
		color: map-get($light, "inert");
		font-family: Terminus;
	}
}
