@import "col.scss";

@font-face  {
	font-family: Terminus;
	src: url("./TerminusTTF-4.49.1.ttf");
}

.line {
	background: map-get($light, 'active');
	color: map-get($light, 'inert');
	height: 2ch;
}

.buff {
	font-family: Terminus;
	font-weight: bold;
}
